.contact-us {
    

    width: 75%;
    margin: 3rem auto;
    overflow: hidden;
    
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/events.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

    &-details {
     //   width: 95%;
        padding: 5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        
    }
    
    &-address {
        background-color: rgba($color-primary, 0.9);
        border-radius: .5rem;
        text-align: center;
        font-weight: bold;
        padding: 20px;
        margin-top: 8rem;
        margin-right: 40px;
        width: 30rem;
        height: 18rem;
        color: rgba(black, 0.7);
        font-size: 1.3rem;
    }
    
}


.margin-format {
    margin-bottom: 4rem;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: rgba($color-primary, 0.2);
    border: none;
    border-bottom: 3px solid transparent;
    width: 170%;
    display: block;
    transition: all .3s;
}

.form__button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all, .2s;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;

    background-color: $color-primary;
    color: #fff;
    border: none;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}