.header {
    //background-color: $color-grey-dark-1;

    //grid-row: 1 / 4 ;
    //grid-column: 1 / -1;
    
    //grid-gap: 5rem;
    background-image: linear-gradient(rgba($color-primary, .45), rgba($color-primary, .45)), url(../img/events.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    width: 100%;
    height: 80vh;

    

    &__01 {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        font-size: 10rem;
        padding-left: 6rem;
    }


    &__content {
        color: #fff;
        display: block;
        padding-left: 25rem;
        text-align: center;
        padding-top: 17rem;

        &--01 {
            font-weight: 100;
            font-size: 4rem;
            text-transform: uppercase;
        }
    }
}